@font-face {
  font-family: "CircularAir";
  src: url(./Circular_Air-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "CircularAir";
  src: url(./Circular_Air-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "CircularAir";
  src: url(./Circular_Air-Book.ttf);
  font-weight: normal;
}
